@media screen and (max-width: 800px) {
  .nav-items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 40px;
    overflow: hidden;
    background-color: rgb(221, 219, 219);
    padding: 20px;
    transition: 1s;
  }
  .burger-open {
    display: block;
  }
}
